[submodule "ext/http"]
	path = ext/http
	url = https://github.com/dylan-lang/http
[submodule "ext/graphviz-renderer"]
	path = ext/graphviz-renderer
	url = https://github.com/dylan-lang/graphviz-renderer
[submodule "ext/web-framework"]
	path = ext/web-framework
	url = https://github.com/dylan-lang/web-framework
